{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Questions tagged with "{{ tag }}"</h1>
        <div class="list-question">
            <div class="questions">
                {% for question in questions %}
                    <div class="container" style="background: linear-gradient(to right, rgb(175, 235, 236), rgba(255, 166, 0, 0.027)); padding: 5px; box-shadow: rgba(0, 0, 0, 0.383) 0px 5px 5px 0px; border-radius: 15px;">
                        <div id="title-sec" style="display: flex; align-items: center;">
                            <h3 id="fh3"><a href="{% url 'stackbase:question-detail' question.id %}">{{ question.title }}</a></h3>
                        </div>
                        <hr>
                        <h6 id="fh6" style="text-align: left;">{{ question.content|truncatewords:10 }} <a href="{% url 'stackbase:question-detail' question.id %}">lire plus</a></h6>
                        <h6 id="fh6" style="font-size: 10px; font-style: italic; color: rgb(155, 155, 155);">Demandé par: <a href="">{{ question.user }}</a>&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; à : {{ question.date_created|date:"j F, Y" }}</h6>
                        <h5 style="text-align: right; font-size: 12px; font-style: italic;">tags:
                            {% for tag in question.tags.all %}
                                <a href="{% url 'stackbase:tagged-questions' tag=tag.name %}" class="tag">{{ tag.name }}</a>
                            {% endfor %}
                        </h5>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
